# Configuración para Django
DJANGO_SECRET_KEY=tu_clave_secreta_aqui
DEBUG=False

# Configuración de la base de datos MySQL
DB_ENGINE=django.db.backends.mysql
DB_NAME=tu_nombre_bd
DB_USER=tu_usuario_bd
DB_PASSWORD=tu_password_bd
DB_HOST=localhost
DB_PORT=3306

# Configuración de correo electrónico
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=contact@freted.info
EMAIL_HOST_PASSWORD=tu_password_email
DEFAULT_FROM_EMAIL=Gestión de Clientes <contact@freted.info>

# Configuración de dominios permitidos
ALLOWED_HOSTS=freted.info,www.freted.info